<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dsp.direct.dao.Processed.ProcessedDomainDataElementMapper">

    <!-- DomainDataElement结果映射 -->
    <resultMap id="DomainDataElementMap" type="com.inspur.dsp.direct.dbentity.DomainDataElement">
        <id column="dataid" property="dataid" jdbcType="VARCHAR"/>
        <result column="base_dataelement_dataid" property="baseDataelementDataid" jdbcType="VARCHAR"/>
        <result column="domain_id" property="domainId" jdbcType="VARCHAR"/>
        <result column="domain_name" property="domainName" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="create_account" property="createAccount" jdbcType="VARCHAR"/>
        <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP"/>
        <result column="last_modify_account" property="lastModifyAccount" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 根据BaseDataElementDataId查询domain_data_element表 -->
    <select id="selectDomainDataElementByBaseDataElementDataId" parameterType="java.lang.String"
            resultMap="DomainDataElementMap">
        SELECT
        dataid,
        base_dataelement_dataid,
        domain_id,
        domain_name,
        create_date,
        create_account,
        last_modify_date,
        last_modify_account
        FROM domain_data_element
        WHERE base_dataelement_dataid = #{dataid}
        ORDER BY create_date DESC
    </select>

</mapper>