<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dsp.direct.dao.ConfirmationTaskMapper">
  <resultMap id="BaseResultMap" type="com.inspur.dsp.direct.dbentity.ConfirmationTask">
    <!--@mbg.generated-->
    <!--@Table confirmation_task-->
    <id column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="base_dataelement_dataid" jdbcType="VARCHAR" property="baseDataelementDataid" />
    <result column="tasktype" jdbcType="VARCHAR" property="tasktype" />
    <result column="send_unit_code" jdbcType="VARCHAR" property="sendUnitCode" />
    <result column="send_unit_name" jdbcType="VARCHAR" property="sendUnitName" />
    <result column="send_date" jdbcType="TIMESTAMP" property="sendDate" />
    <result column="sender_account" jdbcType="VARCHAR" property="senderAccount" />
    <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="processing_unit_code" jdbcType="VARCHAR" property="processingUnitCode" />
    <result column="processing_unit_name" jdbcType="VARCHAR" property="processingUnitName" />
    <result column="processing_date" jdbcType="TIMESTAMP" property="processingDate" />
    <result column="processing_result" jdbcType="VARCHAR" property="processingResult" />
    <result column="processing_opinion" jdbcType="VARCHAR" property="processingOpinion" />
    <result column="processor_account" jdbcType="VARCHAR" property="processorAccount" />
    <result column="processor_name" jdbcType="VARCHAR" property="processorName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    task_id, base_dataelement_dataid, tasktype, send_unit_code, send_unit_name, send_date,
    sender_account, sender_name, `status`, processing_unit_code, processing_unit_name,
    processing_date, processing_result, processing_opinion, processor_account, processor_name
  </sql>

<!--auto generated by MybatisCodeHelper on 2025-09-17-->
  <select id="selectAllByBaseDataelementDataidIn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from confirmation_task
    where base_dataelement_dataid in
    <foreach item="item" index="index" collection="baseDataelementDataidCollection"
             open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

<!--auto generated by MybatisCodeHelper on 2025-09-17-->
  <select id="selectAllByStatusAndBaseDataelementDataidIn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from confirmation_task
    <where>
      <if test="status != null and status != ''">
        and `status`=#{status,jdbcType=VARCHAR}
      </if>
      and base_dataelement_dataid in
      <foreach item="item" index="index" collection="baseDataelementDataidCollection"
               open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </where>
  </select>
</mapper>