<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dsp.direct.dao.DataElementAttachmentMapper">
  <resultMap id="BaseResultMap" type="com.inspur.dsp.direct.dbentity.DataElementAttachment">
    <!--@mbg.generated-->
    <!--@Table data_element_attachment-->
    <id column="attachfileid" jdbcType="VARCHAR" property="attachfileid" />
    <result column="base_dataelement_dataid" jdbcType="VARCHAR" property="baseDataelementDataid" />
    <result column="attachfiletype" jdbcType="VARCHAR" property="attachfiletype" />
    <result column="attachfilename" jdbcType="VARCHAR" property="attachfilename" />
    <result column="attachfileurl" jdbcType="VARCHAR" property="attachfileurl" />
    <result column="attachfilelocation" jdbcType="VARCHAR" property="attachfilelocation" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    attachfileid, base_dataelement_dataid, attachfiletype, attachfilename, attachfileurl, 
    attachfilelocation
  </sql>

  <!-- 定标模块专用：根据数据元ID和文件类型查询文件列表 -->
  <select id="selectByDataElementIdAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from data_element_attachment
    where base_dataelement_dataid = #{baseDataelementDataid,jdbcType=VARCHAR}
      and attachfiletype = #{attachfiletype,jdbcType=VARCHAR}
    order by attachfileid desc
  </select>
</mapper>