<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dsp.direct.dao.DataElementContactMapper">
  <resultMap id="BaseResultMap" type="com.inspur.dsp.direct.dbentity.DataElementContact">
    <!--@mbg.generated-->
    <!--@Table data_element_contact-->
    <id column="dataid" jdbcType="VARCHAR" property="dataid" />
    <result column="base_dataelement_dataid" jdbcType="VARCHAR" property="baseDataelementDataid" />
    <result column="contactname" jdbcType="VARCHAR" property="contactname" />
    <result column="contacttel" jdbcType="VARCHAR" property="contacttel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    dataid, base_dataelement_dataid, contactname, contacttel
  </sql>

  <!-- 定标模块专用：根据数据元ID查询联系人信息 -->
  <select id="selectByDataElementId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from data_element_contact
    where base_dataelement_dataid = #{baseDataelementDataid,jdbcType=VARCHAR}
    limit 1
  </select>
</mapper>