<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dsp.direct.dao.DomainDataElementMapper">
  <resultMap id="BaseResultMap" type="com.inspur.dsp.direct.dbentity.DomainDataElement">
    <!--@mbg.generated-->
    <!--@Table domain_data_element-->
    <id column="dataid" jdbcType="VARCHAR" property="dataid" />
    <result column="data_element_id" jdbcType="VARCHAR" property="dataElementId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="definition" jdbcType="LONGVARCHAR" property="definition" />
    <result column="datatype" jdbcType="VARCHAR" property="datatype" />
    <result column="data_format" jdbcType="VARCHAR" property="dataFormat" />
    <result column="value_domain" jdbcType="LONGVARCHAR" property="valueDomain" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
    <result column="source_unit_code" jdbcType="VARCHAR" property="sourceUnitCode" />
    <result column="source_unit_name" jdbcType="VARCHAR" property="sourceUnitName" />
    <result column="base_dataelement_dataid" jdbcType="VARCHAR" property="baseDataelementDataid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_account" jdbcType="VARCHAR" property="createAccount" />
    <result column="last_modify_date" jdbcType="TIMESTAMP" property="lastModifyDate" />
    <result column="last_modify_account" jdbcType="VARCHAR" property="lastModifyAccount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    dataid, data_element_id, `name`, `definition`, datatype, data_format, value_domain,
    remarks, source_unit_code, source_unit_name, base_dataelement_dataid, create_date,
    create_account, last_modify_date, last_modify_account
  </sql>

  <select id="selectSourceUnitInfoByBaseDataid" resultType="com.inspur.dsp.direct.entity.bo.DomainSourceUnitInfo">
    select dataid, base_dataelement_dataid, source_unit_code, source_unit_name
    from domain_data_element
    where base_dataelement_dataid in
    <foreach close=")" collection="baseDataIds" item="item" open="(" separator=",">
        #{item}
    </foreach>
  </select>

<!--auto generated by MybatisCodeHelper on 2025-08-14-->
  <select id="selectFirstByBaseDataelementDataid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from domain_data_element
        where base_dataelement_dataid=#{baseDataelementDataid,jdbcType=VARCHAR} limit 1
    </select>

<!--auto generated by MybatisCodeHelper on 2025-09-17-->
  <select id="selectAllByBaseDataelementDataid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from domain_data_element
    where base_dataelement_dataid=#{baseDataelementDataid,jdbcType=VARCHAR}
  </select>
</mapper>