<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dsp.direct.dao.NegotiationRecordMapper">
  <resultMap id="BaseResultMap" type="com.inspur.dsp.direct.dbentity.NegotiationRecord">
    <!--@mbg.generated-->
    <!--@Table negotiation_record-->
    <id column="record_id" jdbcType="VARCHAR" property="recordId" />
    <result column="base_dataelement_dataid" jdbcType="VARCHAR" property="baseDataelementDataid" />
    <result column="send_date" jdbcType="TIMESTAMP" property="sendDate" />
    <result column="sender_account" jdbcType="VARCHAR" property="senderAccount" />
    <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
    <result column="negotiation_content" jdbcType="LONGVARCHAR" property="negotiationContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    record_id, base_dataelement_dataid, send_date, sender_account, sender_name, negotiation_content
  </sql>
</mapper>