<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dsp.direct.dao.OrganizationUnitMapper">
  <resultMap id="BaseResultMap" type="com.inspur.dsp.direct.dbentity.OrganizationUnit">
    <!--@mbg.generated-->
    <!--@Table organization_unit-->
    <id column="dataid" jdbcType="VARCHAR" property="dataid" />
    <result column="third_party_id" jdbcType="VARCHAR" property="thirdPartyId" />
    <result column="node_type" jdbcType="VARCHAR" property="nodeType" />
    <result column="unit_code" jdbcType="VARCHAR" property="unitCode" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unit_region" jdbcType="VARCHAR" property="unitRegion" />
    <result column="parent_node_id" jdbcType="VARCHAR" property="parentNodeId" />
    <result column="superior_unit_id" jdbcType="VARCHAR" property="superiorUnitId" />
    <result column="contact_account" jdbcType="VARCHAR" property="contactAccount" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_account" jdbcType="VARCHAR" property="createAccount" />
    <result column="last_modify_date" jdbcType="TIMESTAMP" property="lastModifyDate" />
    <result column="last_modify_account" jdbcType="VARCHAR" property="lastModifyAccount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    dataid, third_party_id, node_type, unit_code, unit_name, unit_region, parent_node_id, 
    superior_unit_id, contact_account, contact_name, contact_phone, create_date, create_account, 
    last_modify_date, last_modify_account
  </sql>

<!--auto generated by MybatisCodeHelper on 2025-09-17-->
  <select id="selectFirstByUnitCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from organization_unit
    where unit_code=#{unitCode,jdbcType=VARCHAR} limit 1
  </select>

  <select id="getCollectionDeptTree" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from organization_unit
    <where>
      <if test="parentCode != null and parentCode != ''">
        parent_node_id = #{parentCode,jdbcType=VARCHAR}
      </if>
      <if test="parentCode == null">
        and parent_node_id is null
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2025-09-23-->
  <select id="selectAllByUnitCodeIn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from organization_unit
    where unit_code in
    <foreach close=")" collection="unitCodeCollection" index="index" item="item" open="(" separator=",">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="getCollectionDeptSearch" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from organization_unit
    where unit_name like concat('%',#{dto.organName,jdbcType=VARCHAR},'%')
  </select>
</mapper>