<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dsp.direct.dao.SourceEventRecordMapper">
  <resultMap id="BaseResultMap" type="com.inspur.dsp.direct.dbentity.SourceEventRecord">
    <!--@mbg.generated-->
    <!--@Table source_event_record-->
    <id column="record_id" jdbcType="VARCHAR" property="recordId" />
    <result column="base_dataelement_dataid" jdbcType="VARCHAR" property="baseDataelementDataid" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="send_unit_code" jdbcType="VARCHAR" property="sendUnitCode" />
    <result column="send_unit_name" jdbcType="VARCHAR" property="sendUnitName" />
    <result column="event_source_unit_code" jdbcType="VARCHAR" property="eventSourceUnitCode" />
    <result column="event_source_unit_name" jdbcType="VARCHAR" property="eventSourceUnitName" />
    <result column="event_target_unit_code" jdbcType="VARCHAR" property="eventTargetUnitCode" />
    <result column="event_target_unit_name" jdbcType="VARCHAR" property="eventTargetUnitName" />
    <result column="event_description" jdbcType="LONGVARCHAR" property="eventDescription" />
    <result column="event_status" jdbcType="VARCHAR" property="eventStatus" />
    <result column="event_time" jdbcType="TIMESTAMP" property="eventTime" />
    <result column="operator_account" jdbcType="VARCHAR" property="operatorAccount" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    record_id, base_dataelement_dataid, event_type, send_unit_code, send_unit_name, event_source_unit_code, 
    event_source_unit_name, event_target_unit_code, event_target_unit_name, event_description, 
    event_status, event_time, operator_account, operator_name, create_date
  </sql>
</mapper>