<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dsp.direct.dao.SourceEventRecordMapper">
  <resultMap id="BaseResultMap" type="com.inspur.dsp.direct.dbentity.SourceEventRecord">
    <!--@mbg.generated-->
    <!--@Table source_event_record-->
    <id column="record_id" jdbcType="VARCHAR" property="recordId" />
    <result column="data_element_id" jdbcType="VARCHAR" property="dataElementId" />
    <result column="data_element_name" jdbcType="VARCHAR" property="dataElementName" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="source_date" jdbcType="TIMESTAMP" property="sourceDate" />
    <result column="operator_account" jdbcType="VARCHAR" property="operatorAccount" />
    <result column="source_unit_code" jdbcType="VARCHAR" property="sourceUnitCode" />
    <result column="source_unit_name" jdbcType="VARCHAR" property="sourceUnitName" />
    <result column="send_unit_code" jdbcType="VARCHAR" property="sendUnitCode" />
    <result column="send_unit_name" jdbcType="VARCHAR" property="sendUnitName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    record_id, data_element_id, data_element_name, source_type, source_date, operator_account, 
    source_unit_code, source_unit_name, send_unit_code, send_unit_name
  </sql>
</mapper>